package <%=packageName%>

<%for(var i=0;i<importArray.length;i++){%><%var importName=importArray[i];%>
import <%=importName%>
<%}%>

@Table(
    schema = "<%=schema%>", table = "<%=table%>", columns = [
<%for(var i=0;i<fieldArray.length;i++){%><%var fieldBean=fieldArray[i];%>
    <%if (i == fieldArray.length - 1) {%>
        <%if (fieldBean.idFlag == true) {%>
        Table.Column(field = "<%=fieldBean.name%>", column = "<%=fieldBean.column%>", idFlag = <%=fieldBean.idFlag%>)
        <%} else {%>
        Table.Column(field = "<%=fieldBean.name%>", column = "<%=fieldBean.column%>")
        <%}%>
    <%} else {%>
        <%if (fieldBean.idFlag == true) {%>
        Table.Column(field = "<%=fieldBean.name%>", column = "<%=fieldBean.column%>", idFlag = <%=fieldBean.idFlag%>),
        <%} else {%>
        Table.Column(field = "<%=fieldBean.name%>", column = "<%=fieldBean.column%>"),
        <%}%>
    <%}%>
<%}%>
    ]
)
open class <%=className%><%=(superClassNames.length != 0 ? " : "+superClassNames : "")%> {
    companion object {
        const val TABLE = "{<%=className%>}"
<%for(var i=0;i<fieldArray.length;i++){%><%var fieldBean = fieldArray[i];%><%var type = fieldBean.type;%><%var nullable = fieldBean.nullable;%><%var nullableString = (nullable? "?": "");%>
        const val COLUMN_<%=fieldBean.name.toUpperCase()%> = "{<%=className%>.<%=fieldBean.name%>}"
<%}%>
    }

<%for(var i=0;i<fieldArray.length;i++){%><%var fieldBean = fieldArray[i];%>
    <%var overrideString = (fieldBean.override ? "override " : "");%>
    <%var type = fieldBean.type;%>
    <%var nullable = fieldBean.nullable;%>
    <%var nullableString = (nullable? "?": "");%>
    <%var defaultValue = fieldBean.defaultValue;%>
    <%if (type == 0){%>
    <%=overrideString%>var <%=fieldBean.name%>: String<%=nullableString%> = <%=(defaultValue.length != 0 ? defaultValue : "\"\"")%>
    <%} else if (type == 1) {%>
    <%=overrideString%>var <%=fieldBean.name%>: Int<%=nullableString%> = <%=(defaultValue.length != 0 ? defaultValue : 0)%>
    <%} else if (type == 2) {%>
    <%=overrideString%>var <%=fieldBean.name%>: Long<%=nullableString%> = <%=(defaultValue.length != 0 ? defaultValue : 0)%>
    <%} else if (type == 3) {%>
    <%=overrideString%>var <%=fieldBean.name%>: Float<%=nullableString%> = <%=(defaultValue.length != 0 ? defaultValue : 0.0)%>
    <%} else if (type == 4) {%>
    <%=overrideString%>var <%=fieldBean.name%>: Double<%=nullableString%> = <%=(defaultValue.length != 0 ? defaultValue : 0.0)%>
    <%} else if (type == 5) {%>
    <%=overrideString%>var <%=fieldBean.name%>: Date<%=nullableString%> = <%=defaultValue%>
    <%} else if (type == 6) {%>
    <%=overrideString%>var <%=fieldBean.name%>: BigDecimal<%=nullableString%> = <%=(defaultValue.length != 0 ? defaultValue : "BigDecimal(0)")%>
    <%}%>
<%}%>
<%for(var i=0;i<codeInClassArray.length;i++){%><%var codeInClass = codeInClassArray[i];%>
<%=codeInClass%>
<%}%>
}